$horizontal-dist: 1rem;
.login {
      margin: 3rem auto;
      max-width: 36rem;

      .intro {
        background-color: lighten($info-color, 15%);
        font-size: rem-calc(14);
        padding: 1.5rem 1.5rem;
        width: rem-calc(562);
        width: 32rem;
        margin: 0 auto 4rem;
        border-width: 0;
      }

    .input-with-error {
        width: rem-calc(400);
        display: inline-block;
        margin-right: $horizontal-dist;
        position: relative;
    }

    .alert-box {
        position: absolute;
        width: 100%;
        top: rem-calc(36);
    }

    input {
        &[type=text] {
            width: 100%;
        }
        &[type=checkbox] {
            margin-left: rem-calc(6);
            vertical-align: text-bottom;
            margin-bottom: 0;
        }
    }

    label {
        display: inline-block;
        margin-right: $horizontal-dist;
        &[for=token] {
            font-size: 1rem;
            width: rem-calc(50);
        }
        &[for=stayLoggedIn] {
            display: block;
            margin-top: rem-calc(20);
        }
    }

    button {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }
    .login-info {
        display: block;
        width: 100%;
        position: absolute;
        top: rem-calc(40);
        font-style: normal;
        font-size: rem-calc(14);
    }
}
