<footer>
    {{#external-link href="settings.copyright_url"}}
       {{t "links.copyright.descr"}}
    {{/external-link}}
    <span>{{t "links.copyright.descr_aux"}}</span>
    {{#external-link href="settings.terms_url" class="right"}}
        {{t "links.terms.descr"}}
    {{/external-link}}
</footer>